/* Body */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

h1 {
  font-weight: 700;
  line-height: 3.75;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Хедер */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-span-logo {
  color: #2e2f42;
}

.header-list {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-item-link:hover {
  color: #404bbf;
}

.header-item-link:focus {
  color: #404bbf;
}

/* Контакти */

.address {
  font-style: normal;
}

.address-item-box {
  color: #434455;
}

.address-item-box:hover {
  color: #404bbf;
}

.address-item-box:focus {
  color: #404bbf;
}

.address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція 1 */

.section-main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/* Секція 2 */

.ways-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ways-item-period {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція 3 */

.team-title {
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #f4f4fd;
}

.team-list {
  line-height: 1.5;
  background-color: #f4f4fd;
}

.team-list-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item {
  background-color: #ffffff;
}

.team-list-period {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція 4 */

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  line-height: 1.5;
}

.portfolio-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-period {
  letter-spacing: 0.02em;
}

/* Футер */

.footer-logo {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-span-logo {
  color: #f4f4fd;
}

.footer-period {
  color: #f4f4fd;
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
