:root {
  --c-text: #434455;
  --c-dark: #2e2f42;
  --c-background-white: #fff;
  --c-background-light: #f4f4fd;
  --c-primery-brand: #4d5ae5;
  --c-pressed-state: #404bbf;
}

/* Глобальні налаштування */

body {
  color: var(--c-text);
  background-color: var(--c-background-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 1440px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 11px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
  padding-bottom: 32px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-main,
.section-ways,
.section-team,
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Хедер */

header {
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  color: var(--c-primery-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-span-logo {
  color: var(--c-dark);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item-link {
  display: block;
  color: var(--c-dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--c-pressed-state);
}

/* Контакти */

address {
  font-style: inherit;
  margin-top: 24px;
}

.address-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.address-item-box {
  gap: 40px;
  color: var(--c-text);
}

.address-item-box:hover,
.address-item-box:focus {
  color: var(--c-pressed-state);
}

/* Секція Main */

.section-main {
  text-align: center;
  padding: 188px 0;
  background-color: var(--c-dark);
  height: 600px;
}

.section-main-title {
  color: var(--c-background-white);
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.button {
  color: var(--c-background-white);
  background-color: var(--c-primery-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--c-pressed-state);
}

/* Секція Ways */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ways-list {
  display: flex;
  gap: 24px;
}

.ways-item {
  width: 264px;
}

.ways-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ways-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція Team */

.section-team {
  background-color: var(--c-background-light);
  height: 732px;
}

.team-title {
  color: var(--c-dark);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  background-color: var(--c-background-white);
  display: flex;
  gap: 24px;
  width: 348px;
  height: 380px;
}

.team-item {
  text-align: center;
  padding-bottom: 0px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-text {
  letter-spacing: 0.02em;
}

/* Секція Portfolio */

.section-portfolio {
  height: 1240px;
}

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 83px;
  column-gap: 24px;
}

.portfolio-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 16px;
}

.portfolio-item-text {
  padding-left: 16px;
  letter-spacing: 0.02em;
}

/* Футер */

.footer {
  background-color: var(--c-dark);
  padding: 100px 0;
}

.footer-logo {
  color: var(--c-primery-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span-logo {
  color: var(--c-background-light);
}

.footer-text {
  color: var(--c-background-light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
