:root {
  --c-text: #434455;
  --c-dark: #2e2f42;
  --c-background-white: #fff;
  --c-background-light: #f4f4fd;
  --c-primery-brand: #4d5ae5;
  --c-pressed-state: #404bbf;
}

/* Body */

body {
  color: var(--c-text);
  background-color: var(--c-background-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Хедер */

.header-logo {
  color: var(--c-primery-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-span-logo {
  color: var(--c-dark);
}

.header-item-link {
  color: var(--c-dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--c-pressed-state);
}

/* Контакти */

.address {
  font-style: normal;
}

.address-item-box {
  color: var(--c-text);
}

.address-item-box:hover,
.address-item-box:focus {
  color: var(--c-pressed-state);
}

/* Секція Main */

.section-ways {
  background-color: var(--c-dark);
}

.section-main-title {
  color: var(--c-background-white);
  line-height: 1.07;
}

.button {
  color: var(--c-background-white);
  background-color: var(--c-primery-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--c-pressed-state);
}

/* Секція Ways */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ways-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ways-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція Team */

.section-team {
  background-color: var(--c-background-light);
}

.team-title {
  color: var(--c-dark);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Секція Portfolio */

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-item-title {
  color: var(--c-dark);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Футер */

.footer {
  background-color: var(--c-dark);
}

.footer-logo {
  color: var(--c-primery-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-span-logo {
  color: var(--c-background-light);
}
.footer-text {
  color: var(--c-background-light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
